<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>g-book</title>
    
</head>
<body>
    <h1>Post & Get data from HTML to MongoDB Atlas</h1>
    
    <form class="container" method="post" action="/">
        <div class="form-group">
            <span><p>Username:</p></span>
            <input class="form-control" name="username" type="text">
        </div>

        <div class="form-group">
            <span><p>Title:</p></span>
            <input class="form-control" name="title" type="text">
        </div>

        <div>
            <span><p>Comment:</p></span>
            <textarea class="form-control" name="content" type="text"></textarea>
        </div>
        <button type="submit">Post comment</button>
    </form>
</body>
</html>        